<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>p2pvideo - Multisignature Chat</title>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/foundation-icons.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-cloak class="ng-cloak">
    <div id="wrap">
      <div data-ng-init="init()" data-ng-controller="HeaderController">
        <div class="header"> 
          <div class="header-content">
            <div class="large-3 medium-3 columns">
              <span class="logo"></span>
            </div>
            <div class="large-9 medium-9 columns text-center p10t" ng-show="$root.chat">
              <div class="large-4 medium-4 columns line-dashed-v">
                <a href="#/addresses" class="has-tip" tooltip-placement="bottom" tooltip="{{$root.chat.id}}">
                  <strong><span>{{$root.getChatDisplay()}}</span></strong>
                </a> 
                <a class="button radius small-icon" href="#" title="Signout" ng-click="signout()"><i class="fi-power"></i></a>
              </div>
              <div class="large-4 medium-4 columns line-dashed-v">
                Balance: {{totalBalance || 0}} <i class="fi-bitcoin"></i><br>
              </div>
              <div class="large-4 medium-4 columns">
                Available to Spend: {{availableBalance || 0}} <i class="fi-bitcoin"></i>
              </div>
            </div>
          </div>

        <nav class="top-bar" data-topbar ng-show="$root.chat">
          <ul class="title-area">
            <li class="name"></li>
            <li class="toggle-topbar menu-icon">
              <a ng-click="isCollapsed=!isCollapsed"> Menu</a>
            </li>
          </ul>

          <section class="top-bar-section {{isCollapsed && 'hide_menu' || 'show_menu'}}">
            <ul>
              <li data-ng-repeat="item in menu" ui-route="/{{item.link}}" class="text-center" data-ng-class="{active: isActive(item)}">
                <a href="{{item.link}}"> <i class="{{item.icon}}"></i> {{item.title}}</a>
              </li>
            </ul>
          </section>
        </nav>
        
      </div>

      <div class="row" ng-if='$root.flashMessage.message' notification>
        <div class="small-8 large-centered columns">
          <div data-alert class="alert-box round {{$root.flashMessage.type}}">
            {{$root.flashMessage.message}}
            <a ng-click="clearFlashMessage()" class="close">&times;</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div ng-if='$root.chat && !$root.chat.publicKeyRing.isComplete() && !loading' data-alert class="alert-box  warn round  size-18" >


              <div style="float:left; margin:0 15px">
                  <i class="fi-alert size-60"></i> 
              </div>
              
              <div class="size-18">
                  Note: Your chat is not complete yet. 
                  <span ng-show="$root.chat.publicKeyRing.totalp2pvideoers - $root.chat.publicKeyRing.registeredp2pvideoers()>1">
                  {{$root.chat.publicKeyRing.totalp2pvideoers - $root.chat.publicKeyRing.registeredp2pvideoers() }} keys are 
                  </span>
                  <span ng-show="$root.chat.publicKeyRing.totalp2pvideoers - $root.chat.publicKeyRing.registeredp2pvideoers()==1">
                  One key is 
                  </span>
                  missing. 
              </div>

              <div class="size-18">
                  Share this secret with your other p2pvideoers for them to join your chat <br>
              </div>
              <div class="size-24">
              <b>{{$root.chat.getMyp2pvideoerId()}}</b>
              </div>
        </div>
      </div>

    </div>

    <div id="main" class="row">
      <div class="large-12 columns" ng-view></div>
    </div>
  </div>

  <div id="footer" data-ng-controller="FooterController" ng-show="$root.chat">
    <link rel="stylesheet" ng-href="{{theme}}">
    <div class="row">
      <div class="large-2 columns">
        <strong><div>{{$root.getChatDisplay()}}</div></strong>
        <span class="size-12">
          {{$root.chat.requiredp2pvideoers}}-of-{{$root.chat.totalp2pvideoers}} chat
        </span> 
      </div>
      <div class="large-2 columns" style="float:right;"
          ng-repeat="p2pvideoer in $root.chat.getRegisteredPeerIds()">
        <video 
          ng-class="($root.chat.getOnlinePeerIDs().indexOf(p2pvideoer) != -1) ? 'online' : 'offline'"
          class="video-small"
          autoplay ng-show="$root.videoSrc[p2pvideoer]" 
          ng-src="{{$root.getVideoURL(p2pvideoer)}}"
          id="{{p2pvideoer + '-video'}}" muted="true"
          title="{{p2pvideoer + (p2pvideoer == $root.chat.network.peerId?' (You)':'')}}" ></video>
        <img ng-show="!$root.videoSrc[p2pvideoer]" 
          ng-class="($root.chat.getOnlinePeerIDs().indexOf(p2pvideoer) != -1) ? 'online' : 'offline'"
          class="video-small"
          src="./img/unknown.gif" 
          title="{{p2pvideoer + (p2pvideoer == $root.chat.network.peerId?' (You)':'')}}" />
      </div>
    </div>
  </div>

    <!-- Templates -->
    <script type="text/ng-template" id="signin.html">
      <div class="signin" ng-controller="SigninController">
        <div data-alert class="alert-box info round" ng-show="loading">
          Looking for peers...
        </div>
        <div ng-show="!loading">
          <div ng-show="!chats.length">
            <div class="row">
              <div class="large-6 columns">
                <h3>Create a New Chat</h3>
              </div>
              <div class="large-3 columns">
                <button class="button secondary expand round" ng-click="create()"
                  ng-disabled="loading" loading="Creating">Create</button>
              </div>
            </div>
            <hr>
          </div>
          <div ng-show="chats.length">
            <div class="row">
              <div class="large-6 columns">
                <h3>Open Chat</h3>
                <select class="form-control" ng-model="selectedChatId"
                   ng-options="c.id for c in chats">
                </select>
              </div>
              <div class="large-3 columns">
                <button class="button secondary expand round" type="button"
                   ng-click="open(selectedChatId)" ng-disabled="loading" loading="Opening">Open</button>
              </div>
            </div>
            <hr>
          </div>
          <div ng-show="true">
            <div class="row">
              <div class="large-6 columns">
                <h3>Join a Chat in Progress</h3>
              <input type="text" class="form-control" placeholder="Paste chat secret here"
                 ng-model="connectionId" required autofocus>
              </div>
              <div class="large-3 columns">
                <button class="button primary expand round"
                  ng-click="join(connectionId)" ng-disabled="loading" loading="Joining">Join</button>
              </div>
            </div>
            <hr>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <div ng-show="chats.length">
                <a ng-click="create()" ng-disabled="loading" loading="Creating">Create a new chat</a>
              </div>
              <a class="right" ng-href="#import">Import from file</a>
            </div>
          </div>
          

        </div>
      </div>
    </script>
    <!-- CHAT -->
    <script type="text/ng-template" id="chat.html">
      <h1>Hello World!</h1>
    </script>

 
    <!-- NOT FOUND -->
    <script type="text/ng-template" id="404.html">
      <h2 class="text-center">404</h2>
      <h3 class="text-center">Page not found</h3>
      <p class="text-center"><a href="#/">go back...</a></p>
    </script>

    <script src="config.js"></script>

    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <script src="lib/angular-foundation/mm-foundation.min.js"></script>
    <script src="lib/angular-foundation/mm-foundation-tpls.min.js"></script>
    <script src="lib/peerjs/peer.js"></script>
    <script src="js/bundle.js"></script>

    <script src="js/app.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services/video.js"></script>
    <script src="js/services/ChatFactory.js"></script>
    <script src="js/services/controllerUtils.js"></script>

    <script src="js/controllers/header.js"></script>
    <script src="js/controllers/footer.js"></script>
    <script src="js/controllers/signin.js"></script>

    <script src="js/init.js"></script>
  </body>
</html>
